@model MemberIndex

@{
    var isAdmin = User.IsInRole("Admin");
}

<div id="MemberView">
    <div class="header">
        <h1>Team Members</h1>
        <button class="project-btn" data-bs-toggle="modal" data-bs-target="#createprojectModal">
            + Add projects
        </button>
    </div>

    @if (Model.Items == null || !Model.Items.Any())
    {
        <p>No Members found or failed to load.</p>
    }
    else
    {
        <div class="project-view">
            @foreach (var member in Model.Items)
            {
                <partial name="Partials/Home/_MemberCard" model="member" />
            }
        </div>
    }

    <nav>
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a href="#" class="member-page" data-page="@i">@i</a>
                </li>
            }
        </ul>
    </nav>

</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', () => {
          const cards = document.querySelectorAll('.team-card');
          cards.forEach((card, i) => {
            // 0.2s internt mellan korten
            setTimeout(() => {
              card.style.opacity = '1';
              card.style.animation = 'dropIn 0.5s ease-out forwards';
            }, i * 200);
          });
        });
    </script>
}