@{
    var isAdmin = User.IsAppAdmin();
}
<div class="sidebar">
    <div class="mainlogo">
        <img class="bar-logo" src="~/img/Logo.svg" alt="">
        <h1 class="logofont">alpha</h1>
    </div>
    <button id="load-projects" class="sidebar-btn">
    <i class="fa-solid fa-users-line btn-img"></i>
	Projects
    </button>
    <button id="load-team-members" class="sidebar-btn">
        <i class="fa-solid fa-briefcase btn-img"></i>
        Team Members
    </button>
    @if (isAdmin)
    {
        <button id="Create-Roles" class="sidebar-btn">
        <i class=" fa-solid fa-screwdriver btn-img"></i> 
            <a asp-controller="Admin" asp-action="Index">Admin Tools</a>
        </button>
    }
</div>

