@inject UserManager<MemberEntity> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var profile = user?.Profile;
    var fullName = profile != null
        ? $"{profile.FirstName} {profile.LastName}".Trim()
        : user?.Email ?? "User";
    var profileImagePath = user?.ProfileImagePath ?? "/img/Employee.svg";
    ViewBag.ProfileImage = profileImagePath;
}

    <div class="topbar">
		<input id="globalSearch" class="searchbar" placeholder="Search anything" autocomplete="off" />
        
        <div class="service-group">
            <partial name="Partials/Home/_NotisPartial" />

            <a class="service-btn" asp-controller="Settings" asp-action="Settings">
                <i class="fa-solid fa-gear"></i>
            </a>
        </div>
        <button class="profile-btn" data-bs-toggle="modal" data-bs-target="#userModal">
            <img class="profile-thumb" src="@ViewBag.ProfileImage" alt="Profile Image" />
        </button>
        <partial name="Partials/Modals/_UserCardPartial" />
    </div>

