
    <div class="topbar">
        <input class="searchbar" placeholder="Search anything" />
        <div class="service-group">
            <partial name="Partials/Home/_NotisPartial" />

            <a class="service-btn" asp-controller="Settings" asp-action="Settings">
                <i class="fa-solid fa-gear"></i>
            </a>
        </div>
        <button class="profile-btn" data-bs-toggle="modal" data-bs-target="#userModal">
            <img class="profile-thumb" src="@ViewBag.ProfileImage" alt="Profile Image" />
        </button>
        <partial name="Partials/Modals/_UserCardPartial" />

    </div>
}
