@model ASPAssignment.ViewModels.SettingsFormViewModel

<div class="container">
    <div class="mainpage">
        <partial name="Partials/Settings/_SettingsSidebar" model="Model" />
        <partial name="Partials/Settings/_SettingsTopbar" model="Model" />

        <div class="settings-section">
            <partial name="Partials/Settings/_SettingsHero" model="Model" />
        </div>
    </div>
</div>

