<div class="container">
    <div class="mainpage">
        <partial name="Partials/Settings/_SettingsSidebar" />
        <partial name="Partials/Settings/_SettingsTopbar" />
        <div class="settings-section">
            <partial name="Partials/Settings/_SettingsHero" />
        </div>
    </div>
</div>

<script asp-append-version="true" src="~/js/settingsNavigation.js"></script>
