

<form action="">
    <div>
        <p>Här mr chatgpt ska prfilbilden gå att ändra</p>
        <input type="text">
    </div>

    <div class="input-group">
        <label for="settings-firstname">First Name</label>
        <input class="settings-input" id="settings-firstname" placeholder="First Name" type="text">
    </div>

    <div class="input-group">
        <label for="settings-lastname">Last Name</label>
        <input class="settings-input" id="settings-lastname" placeholder="Last Name" type="text">
    </div>

    <div class="input-group">
        <label for="settings-email">Email </label>
        <input class="settings-input" id="settings-email" placeholder="You can not change you Email at this time." type="text">
    </div>

    <div class="input-group">
        <label for="settings-phone">Phone Number</label>
        <input class="settings-input" id="settings-phone" placeholder="First Name" type="text">
    </div>

    <div class="input-group">
        <label for="settings-adress">Adress</label>
        <input class="settings-input" id="settings-adress" placeholder="First Name" type="text">
    </div>

    <div class="input-group">
        <label for="settings-zip">Zip-Code</label>
        <input class="settings-input" id="settings-zip" placeholder="First Name" type="text">
    </div>

    <div class="input-group">
        <label for="settings-loc">Locality</label>
        <input class="settings-input" id="settings-loc" placeholder="First Name" type="text">
    </div>
    <button class="login-btn">Save</button>
</form>



