@model ASPAssignment.ViewModels.SettingsFormViewModel


<div class="header">
    <h1>User Settings</h1>
</div>
<form asp-controller="Settings" asp-action="Update" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ExistingProfileImagePath" />
    <input type="hidden" asp-for="RoleId" />
    <button class="upload-btn" type="button" id="settingsUploadBtn">
        <img id="settingsPreviewImage"
             src="@(!string.IsNullOrEmpty(Model.ExistingProfileImagePath)
               ? Model.ExistingProfileImagePath
               : "/img/upload.svg")"
             alt="Profile Image" />
    </button>

    <input type="file"
           asp-for="ProfileImage"
           id="settingsImageInput"
           style="display:none"
           accept="image/*" />

    <div class="input-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="settings-input" placeholder="First Name" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="input-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="settings-input" placeholder="Last Name" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="input-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="settings-input" readonly />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="input-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="settings-input" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="input-group">
        <label asp-for="DateOfBirth"></label>
        <input asp-for="DateOfBirth" type="date" class="settings-input" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>

    <div class="input-group">
        <label asp-for="StreetAddress"></label>
        <input asp-for="StreetAddress" class="settings-input" />
        <span asp-validation-for="StreetAddress" class="text-danger"></span>
    </div>

    <div class="input-group">
        <label asp-for="PostalCode"></label>
        <input asp-for="PostalCode" class="settings-input" />
        <span asp-validation-for="PostalCode" class="text-danger"></span>
    </div>

    <div class="input-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="settings-input" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <button type="submit" class="login-btn">Save Changes</button>
</form>
