
@inject UserManager<MemberEntity> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var profile = user?.Profile;
    var fullName = profile != null
        ? $"{profile.FirstName} {profile.LastName}".Trim()
        : user?.Email ?? "User";
    var profileImagePath = user?.ProfileImagePath ?? "/img/Employee.svg";
    var roles = await UserManager.GetRolesAsync(user);
    ViewBag.Role = roles.FirstOrDefault() ?? "N/A";
    ViewBag.Email = user?.Email ?? "";
    ViewBag.ProfileImage = profileImagePath;
}

<div class="settings-topbar">
    <h1>Settings</h1>
    <div class="user-info">
        <p>Role: @ViewBag.Role</p>
        <p>Email: @ViewBag.Email</p>
    </div>

    <div class="service-group">
        <partial name="Partials/Home/_NotisPartial" />
        <button class="service-btn"><a asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i></a></button>
    </div>

    <button class="profile-btn" data-bs-toggle="modal" data-bs-target="#userModal">
        <img class="profile-thumb" src="@ViewBag.ProfileImage" alt="Profile Image" />
    </button>
    <partial name="Partials/Modals/_UserCardPartial" />

</div>