<div class="sidebar">
    <div class="mainlogo">
        <img class="bar-logo" src="~/img/Logo.svg" alt="">
        <h1 class="logofont">alpha</h1>
    </div>
    <div class="settings-nav-group">
        <a class="settings-nav" href="#" data-section="User">User Settings</a>
        <a class="settings-nav" href="#" data-section="Privacy">Privacy</a>
        <a class="settings-nav" href="#" data-section="Preferences">Preferences</a>
        <a class="settings-nav" href="#" data-section="Terms">Terms & Usage</a>
    </div>
</div>