<div class="settings-hero">
    <div class="header">
        <h1>User Settings</h1>
    </div>
    <div class="settings-content">

        <partial name="Partials/Settings/_SettingsForm" />

    </div>
</div>