<div class="sidebar">
    <div class="mainlogo">
        <img class="bar-logo" src="~/img/Logo.svg" alt="">
        <h1 class="logofont">alpha</h1>
    </div>
    <div class="settings-nav-group">
        <a class="settings-nav" href="#">User Settings</a>
        <a class="settings-nav" href="#">Privacy</a>
        <a class="settings-nav" href="#">Preferences</a>
        <a class="settings-nav" href="#">Terms & Usage</a>
    </div>
</div>