<div class="settings-topbar">
    <h1>Settings</h1>
    <div class="user-info">
        <p>Role: @ViewBag.Role</p>
        <p>Email: @ViewBag.Email</p>
    </div>
    <partial name="Partials/_NotisPartial" />

    <div class="service-group">
        <button class="service-btn"><a asp-controller="Home" asp-action="Index">Return</a></button>
    </div>

    <button class="profile-btn" data-bs-toggle="modal" data-bs-target="#userModal">
        <img class="profile-thumb" src="@ViewBag.ProfileImage" alt="Profile Image" />
    </button>
    <partial name="Partials/Modals/_UserCardPartial" />


</div>