@model ASPAssignment.ViewModels.SettingsFormViewModel

<div class="settings-hero">
    <div class="settings-content">
        <partial name="Partials/Settings/_SettingsForm" model="Model" />
    </div>
</div>