@model LoginForm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
}

<div class="reg-form-container">
    <h1>Login</h1>
    @* <button class="media-btn"> *@
    @*     <img src="~/img/google-icon.svg" alt=""> *@
    @*     <p>Sign in with Google</p> *@
    @* </button> *@
    <img class="splitter" src="~/img/splitter.svg" alt="">

    <form class="reg-form" asp-controller="Account" asp-action="Login" method="post" novalidate enctype="multipart/form-data">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-input" placeholder="Your Email">

        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-input" placeholder="Your Password">

        <div>
            <input type="checkbox" name="" id="checkbox1">
            <label for="checkbox1">Remember Me<a href="#">Forgot Password?</a></label>
        </div>

        <button class="login-btn">Log in</button>
        <a class="center-me" href="@Url.Action("Index", "Home")">CHEAT BUTTON SKIP LOGIN!</a>
    </form>
    <p>Already Have an Account? <a href="@Url.Action("Login", "Account")">Login</a></p>
</div>

<script src="~/js/Darkmode.js"></script>
