
<div class="reg-form-container">
    <h1>Create Account</h1>

    <button type="button" class="media-btn">
        <img src="~/img/google-icon.svg" alt="Google Icon" />
        <p>Sign up with Google</p>
    </button>
    <button type="button" class="media-btn">
        <img src="~/img/icons8-facebook.svg" alt="Meta Icon" />
        <p>Sign up with Facebook</p>
    </button>
    <button type="button" class="media-btn">
        <img src="~/img/github-mark-white.svg" alt="GitHub Icon" />
        <p>Sign up with GitHub</p>
    </button>
    <button type="button" class="media-btn">
        <img src="~/img/Microsoft_icon.svg" alt="Microsoft Icon" />
        <p>Sign up with Microsoft</p>
    </button>

</div>




