<div class="Terms-container">
    <h1 class="terms-head">TERMS AND CONDITIONS</h1>
    <div class="terms-text">
        <p>
        1. Allmänt användaransvar<br />
        1.1 Du får använda denna applikation fritt, men om du får abs av att klicka på för många knappar så är det helt på egen risk.<br />
        1.2 Applikationen är inte responsiv mot känslor. Klicka varsamt.<br />
        1.3 Om något kraschar, anta att det är användarfel, JavaScript eller att NATO-luftstöd avbröt API-anropet.<br />
        </p>

        <p>
        2. Uppförande<br />
        2.1 Du får inte:<br />
        - Skicka in projektidéer som bara är “en app som listar alla mina ex”<br />
        - Bygga ett projekt med 74 deltagare och 0 dokumentation<br />
        - Missbruka member-pickern genom att rekrytera AI-botar som team members<br />
        </p>

        <p>
        3. Dataskydd<br />
        3.1 Vi samlar inte in någon personlig information. Om du ändå råkar lägga in din morbrors kreditkort i ett projekt, är det på dig.<br />
        3.2 All användardata krypteras med handkraft och proteinpulver.<br />
        3.3 Vi skickar ingenting till tredje part. Inte ens Pete i USA. Han har redan nog med problem efter att ha läckt hela NATO:s invasionsplan via Discord-chatten för “Tank Simulator 3”.<br />

        </p>

        <p>
        4. Teknisk information<br />
        4.1 Projektet är byggt i ASP.NET MVC med en tydlig målsättning:<br />
        - Du klickar<br />
        - Du ser nåt
        - Du blir lite lyckligare<br />
        Om du ser något annat, som till exempel Hillarys privata mailserver, är det en bugg. Eller ett easter Egg. Svårt att säga.<br />
        </p>

        <p>
            5. Licens<br />
            5.1 Projektet är publicerat under MIT-licens. Det betyder att du får:<br />
            - Använda<br />
            - Klona<br />
            - Göra memes av det<br />
            - Lägga till “GymTracker v1” i valfri modul så länge du inte döper om MemberEntity till SwoleEntity.<br />
        </p>

        <p>
            6. Avslutningsvis<br />
            6.1 Alla försök att köra projektet i Internet Explorer är brott mot mänskligheten.<br />
            6.2 Genom att klicka vidare i applikationen, erkänner du att du är minst 13 år gammal, har läst minst 4 rader kod, och aldrig delat statshemligheter på valfri forumplattform.<br />
            6.3 Om du når full funktionalitet i systemet utan en enda null reference exception, kontakta Microsoft – du har brutit fysikens lagar.<br />
        </p>
        <p>
            Version: 0.1<br />
            Senast uppdaterad: Den dagen Pete loggade in med “password123”<br />
            Utvecklat med kärlek, gains och lätt självhat.<br />
        </p>
    </div>
</div>


