<div class="admin-card">
    <h1 class="admin-head">Welcome to</h1>
    <h1 class="admin-head-gold">Admin Panel</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat, vel<br> convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.</p>
</div>