@model ASPAssignment.ViewModels.ProjectIndex

<div class="status-bar">
    <a class="navbar-link @(string.IsNullOrEmpty(Model.Status) ? "active" : "")"
       href="#" data-status="">
        ALL [@Model.AllCount]
    </a>
    <a class="navbar-link @(Model.Status=="Ongoing" ? "active" : "")"
       href="#" data-status="Ongoing">
        STARTED [@Model.OngoingCountAll]
    </a>
    <a class="navbar-link @(Model.Status=="Completed" ? "active" : "")"
       href="#" data-status="Completed">
        COMPLETED [@Model.CompletedCountAll]
    </a>
</div>
