<div class="notis-group">
    <div class="bell-group">
        <div class="notificaton-mark"></div>
        <button class="bell-btn">
            <i class="fa-solid fa-bell"></i>
        </button>
    </div>
    <div class="notis-container">
        <div class="notis-header">
            <h3>Notifications</h3>
            <div class="notis-counter">
                <span>0</span>
            </div>
        </div>
        <div class="notis-body">
            <div class="no-notis">
                <p>Inga notiser</p>
            </div>

        </div>
    </div>
</div>

@* 
<div class="notis">
    <img src="img/proimg.svg" alt="">
    <span>Meddelandet som notisen gäller</span>
    <p>1 min ago</p>
    <button class="close-btn">X</button>
</div> *@
