@model IEnumerable<ProjectEntity>
<div class="hero">
    <div class="header">
        <h1>Projects</h1>
        <button class="project-btn" data-bs-toggle="modal" data-bs-target="#createprojectModal">+ Add projects</button>
    </div>
    <div class="status-bar">
        <a class="navbar-link" href="#">ALL</a>
        <a class="navbar-link" href="#">STARTED</a>
        <a class="navbar-link" href="#">COMPLETED</a>
    </div>
    @if (Model == null || !Model.Any())
    {
        <p>No projects found or failed to load.</p>
    }
    else
    {
        <div class="project-view">
            @foreach (var project in Model)
            {
                @Html.Partial("Partials/_ProjectCard", project)
            }
        </div>
    }
</div>

