
    <div class="sidebar">
        <div class="mainlogo">
            <img class="bar-logo" src="~/img/Logo.svg" alt="">
            <h1 class="logofont">alpha</h1>
        </div>
        <button id="load-projects" class="sidebar-btn">
        <i class="fa-solid fa-users-line btn-img"></i>
		Projects
        </button>
        <button id="load-team-members" class="sidebar-btn">
            <i class="fa-solid fa-briefcase btn-img"></i>
            Team Members
        </button>
    </div>

