
    <div class="sidebar">
        <div class="mainlogo">
            <img class="bar-logo" src="~/img/Logo.svg" alt="">
            <h1 class="logofont">alpha</h1>
        </div>
        <button id="load-projects" class="sidebar-btn"><img class="btn-img" src="~/img/Buttonicon.svg" alt="">Projects</button>
        <button id="load-team-members" class="sidebar-btn"><img class="btn-img" src="~/img/Buttonicon.svg" alt="">Team Members</button>
    </div>

