@model IEnumerable<Member>
@{
    <div class="hero">
        <div class="header">
            <h1>Team Members</h1>
            <button class="project-btn" data-bs-toggle="modal" data-bs-target="#addTeamMemberModal">+ Add Team Member</button>
        </div>
        <div class="Team-view">
            @foreach (var members in Model)
            {
                <div class="project-card">
                    <button data-bs-toggle="modal" data-bs-target="#editTeamMemberModal" class="more-btn"><img src="~/img/More 2.svg" alt=""></button>
                    <div class="text-info">
                        <h1>@members.FirstName @members.LastName</h1>
                    </div>
                    <button class="more-btn">Message</button>
                </div>
            }
        </div>
    </div>
}
