@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="topbar">
        <input class="searchbar" placeholder="Search anything" />
        <div class="service-group">
            <partial name="Partials/_NotisPartial" />

            <a class="service-btn" asp-controller="Settings" asp-action="Settings">
               <img src="~/img/Setting.svg" alt="">
            </a>
        </div>
        <button class="profile-btn" data-bs-toggle="modal" data-bs-target="#userModal">
            <img class="profile-thumb" src="@ViewBag.ProfileImage" alt="Profile Image" />
        </button>
        <partial name="Partials/Modals/_UserCardPartial" />

    </div>
}
