<div class="temp-modal">
    <div class="chat-modal">
        <div class="chat-exit">
            <button>X</button>
        </div>
        <div class="chat-sidebar">
            <h3 style="margin-left: 1rem;">
                Members:</h1>
                <button class="chat-card">
                    <img src="img/Employee.svg" alt="">
                    <span>Användarnamn</span>
                </button>
                <button class="chat-card">
                    <img src="img/Employee.svg" alt="">
                    <span>Användarnamn</span>
                </button>
                <button class="chat-card">
                    <img src="img/Employee.svg" alt="">
                    <span>Användarnamn</span>
                </button>
                <button class="chat-card">
                    <img src="img/Employee.svg" alt="">
                    <span>Användarnamn</span>
                </button>
        </div>
        <div class="chat-view">
            <div class="chat-message">
                <span>Tjosan din jävelsdhkashdkjaskjhdkajshdkhaskjdhkjashdkjhaskjdhaskjhdkjashdkjashkjdhaskjdhaksjhdkjashdkjashdkjhaskjdhakjsdhkjashdkjashdkjhaskjdhaskjdhkjasdhkjashdkjashdkjashdkssssssssssssssssssssssssssjhas</span>
                <p>Användarnamn 1</p>
            </div>
            <div class="chat-message-response">
                <span>Hej på dig din gay sdhkashdkjaskjhdkajshdkhaskjdhkjashdkjhaskjdhaskjhdkjashdkjashkjdhaskjdhaksjhdkjashdkjashdkjhaskjdhakjsdhkjashdkjashdkjhaskjdhaskjdhkjasdhkjashdkjashdkjashdkssssssssssssssssssssssssssjhas</span>
                <p>Användarnamn 2</p>
            </div>
            <div class="chat-message">
                <span>Kalla mig inte gay... annars kommer jag nita dig din lill råtta, vet du att min pappa bänker mer än din pappa? att min bror har större spade än din bror? att min mamma hade manglat din mammas tuttar? just det din oskuld.</span>
                <p>Användarnamn 1</p>
            </div>
            <div class="chat-message">
                <span>Kalla mig inte gay... annars kommer jag nita dig din lill råtta, vet du att min pappa bänker mer än din pappa? att min bror har större spade än din bror? att min mamma hade manglat din mammas tuttar? just det din oskuld.</span>
                <p>Användarnamn 1</p>
            </div>
        </div>
        <div class="chat-input-container">
            <form action="">
                <input type="text" placeholder="Enter Chattmessage">
                <button><i class="fa-solid fa-paper-plane"></i></button>
            </form>
        </div>
    </div>
</div>