@model ASPAssignment.ViewModels.MemberUpdateForm

<div id="editTeamMemberModal" class="project-modal modal fade" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="project-container" tabindex="-1">
                    <div class="form-header">
                        <h1 class="modal-title" id="projectModalLabel">Edit Member</h1>
                        <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close">X</button>
                    </div>

                    <button type="button" class="upload-btn-team" id="uploadPreviewBtn">
                        <img id="previewImage" src="@(!string.IsNullOrEmpty(Model.ExistingProfileImagePath) ? Model.ExistingProfileImagePath : "/img/upload.svg")" alt="Profile Image" />
                    </button>


                    <form id="edit-member-form" class="project-form" enctype="multipart/form-data" novalidate>
                        <input asp-for="Id" type="hidden" id="member-id" name="Id" />
                        <input asp-for="ProfilePic" name="ProfilePic" type="file" id="profilepic" accept="image/*" style="display: none;" />

                        <div id="edit-member-errors" class="text-danger mb-2"></div>

                        <div class="fullname-group">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" id="FirstName" name="FirstName" class="form-input" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>

                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" id="LastName" name="LastName" class="form-input" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <label asp-for="Email"></label>
                        <input asp-for="Email" id="Email" name="Email" class="form-input" readonly />
                        <span asp-validation-for="Email" class="text-danger"></span>

                        <label asp-for="Phone"></label>
                        <input asp-for="Phone" id="Phone" name="Phone" class="form-input" />
                        <span asp-validation-for="Phone" class="text-danger"></span>

                        <label asp-for="JobTitle"></label>
                        <input asp-for="JobTitle" id="JobTitle" name="JobTitle" class="form-input" />
                        <span asp-validation-for="JobTitle" class="text-danger"></span>

                        <label asp-for="StreetAddress"></label>
                        <input asp-for="StreetAddress" class="form-input" />
                        <span asp-validation-for="StreetAddress" class="text-danger"></span>

                        <label asp-for="City"></label>
                        <input asp-for="City" class="form-input" />
                        <span asp-validation-for="City" class="text-danger"></span>

                        <label asp-for="PostalCode"></label>
                        <input asp-for="PostalCode" class="form-input" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>

                        <label asp-for="BirthDate"></label>
                        <input asp-for="BirthDate" type="date" class="form-input" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>

                        <button type="submit" class="project-form-btn">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
