@inject UserManager<MemberEntity> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var profile = user?.Profile;

    var fullName = profile != null
        ? $"{profile.FirstName} {profile.LastName}".Trim()
        : "User";
    var profileImagePath = user?.ProfileImagePath ?? "/img/Employee.svg";
}


<div id="userModal" class="user-card profile-modal modal fade" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button class="usersummary">
                    <img class="profile-thumb" src="@profileImagePath" alt="Profile" />
                    <p>@fullName</p>
                </button>
                <div class="darkmode-box">
                    <i class="fa-solid fa-gear"></i>
                    <span class="dark-mode-lable">Dark mode</span>
                    <label for="darkmode-switch" class="switch">
                        <input type="checkbox" id="darkmode-switch" />
                        <span class="slider round"></span>
                    </label>
                </div>
                <button class="btn-custom btn-logout"><i class="fa-solid fa-arrow-right-from-bracket"></i><a asp-controller="Account" asp-action="Logout">Logout</a></button>
            </div>
        </div>
    </div>
</div>
