@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="project-card">
        <img class="project-img" src="~/img/Image.svg" alt="">
        <div class="text-info">
            <h2>Website redesign</h2>
            <h3>gitlab inc. (kund)</h3>
        </div>
        <div class="more-container">
            <button class="more-btn" data-bs-toggle="modal" data-bs-target="#editprojectModal">
                <img src="~/img/More 2.svg" alt="">
            </button>
        </div>
        <p class="p-description">It is necessary to develop a website redesign in a corporate style.</p>
        <img class="temp-deadline" src="~/img/Deadline.svg" alt="">
        <div class="current-users">
            <img src="~/img/Employee.svg" alt="">
            <img src="~/img/Employee.svg" alt="">
        </div>
    </div>
}
