@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="topbar">
        <input class="searchbar" placeholder="Search anything" />
        <div class="service-group">
            <button class="service-btn"><img src="~/img/Notification.svg" alt=""></button>
            <button class="service-btn"><img src="~/img/Setting.svg" alt=""></button>
        </div>
        <button class="profile-btn" data-bs-toggle="modal" data-bs-target="#userModal">Profile</button>
    </div>
}
