@using ASPAssignment.ViewModels
@model IEnumerable<Data.Entities.ProjectEntity>
@{
    ViewData["Title"] = "Project Menu";
}

<div class="container">
    <div class="mainpage">
        <partial name="Partials/_Sidebar" />
        <partial name="Partials/_Topbar" />
        <div class="hero">
            <div id="dynamic-content">
                <partial name="Partials/_ProjectView" model="Model" />
            </div>
        </div>
    </div>
</div>










