@model ProjectIndex

@{
    ViewData["Title"] = "Project Menu";

}

<div class="container">
    <div class="mainpage">
        <partial name="Partials/Home/_Sidebar" />
        <partial name="Partials/Home/_Topbar" />
        <div id="main-hero" class="hero">
            <div id="dynamic-content">
                <partial name="Partials/Home/_ProjectView" model="Model" />
            </div>
        </div>
    </div>
</div>










